body {
    width: 1440px;
    height: 2236px;
    background: #1E1E1E;
}

#head {
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
}

.logo {
    color: #FFF;
    font-family: REZ;
    font-size: 74.441px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-write {}

.svg-logo {
    width: 35.726px;
    height: 37.959px;
    flex-shrink: 0;
    stroke-width: 2.902px;
    stroke: #FFCC29;
}

.items {
    color: #FFF;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.house {
    color: #FFCC29;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.preference {
    color: #FFF;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.light {
    margin-top: 80px;
    width: 230px;
    height: 250.625px;
    flex-shrink: 0;
    stroke-width: 10px;
    stroke: rgba(255, 204, 41, 0.42);
}