body {
    width: 1440px;
    height: 4020px;
    background: #1E1E1E;
}

#hero {
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
    height: 100vh;
}

.col-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
}

.logo {
    color: #FFF;
    font-family: REZ;
    font-size: 74.441px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-write {}

.svg-logo {
    width: 35.726px;
    height: 37.959px;
    flex-shrink: 0;
    stroke-width: 2.902px;
    stroke: #FFCC29;
}

.solar {
    color: #FFF;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.calculator {
    color: #FFCC29;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.first-button {
    color: #FFF;
    font-family: Poppins;
    font-size: 19.72px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 308.458px;
    height: 75.127px;
    flex-shrink: 0;
    border-radius: 85.922px;
    border: 3.148px solid #FFF;
    background: transparent;
}

.col-4 {
    display: flex;
    flex-flow: left;
}

.light {
    margin-top: 80px;
    width: 230px;
    height: 250.625px;
    flex-shrink: 0;
    stroke-width: 10px;
    stroke: rgba(255, 204, 41, 0.42);
}

#main {}

.left-side {
    width: 475px;
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.small-left-side {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 393px;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.first-image {
    width: 905px;
    height: 568px;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 120px;
}

.container-customize {
    margin-top: 120px;
}

.second-image {
    width: 905px;
    height: 568px;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 120px;
}

.container-calculated {
    margin-top: 120px;
}

.border-section {
    margin-top: 120px;
    width: 1243px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: rgba(112, 109, 109, 0.42);
}

#end {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.path {
    width: 822px;
    color: #FFF;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.illuminating {
    color: #FFCC29;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.get-started {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.form {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 841px;
    height: 64.91px;
    flex-shrink: 0;
    background: transparent;
}

.last-button-home {
    margin-top: 24px;
    width: 841px;
    height: 64.905px;
    flex-shrink: 0;
    border-radius: 61px;
    background: #FFCC29;
}

.preference {
    color: #FFF;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -70px;
}

.big-border {
    width: 610px;
    height: 131.385px;
    border-radius: 6.256px;
    border: 1.564px solid #FFCC29;
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(27.37179183959961px);
    margin-bottom: 80px;
}

.small-border {
    display: flex;
    align-items: flex-start;
    gap: 12.513px;
    padding-top: 25px;
}

.light-bulb {
    width: 64.128px;
    height: 64.128px;
}

.write-bulb {
    color: #FFF;
    font-family: Poppins;
    font-size: 25.026px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.small-write-bulb {
    color: #FFF;
    font-family: Poppins;
    font-size: 21.897px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-input {
    margin-left: 180px;
    margin-top: 15px;
}

.add-new {
    display: flex;
    width: 610px;
    height: 131.385px;
    padding: 43.795px 157.924px 44.415px 157.974px;
    justify-content: center;
    align-items: center;
    border-radius: 6.256px;
    border: 1.564px solid #FFF;
    backdrop-filter: blur(27.371793746948242px);
    margin: 0 auto;
}

.add-new-items {
    color: #FFF;
    font-family: Poppins;
    font-size: 25.026px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.new-items-button {
    width: 33.175px;
    height: 33.175px;
    flex-shrink: 0;
    background: #FFCC29;
    color: #1E1E1E;
    margin-left: 40px;
}

.last-button-home-add {
    margin-top: 24px;
    width: 841px;
    height: 64.905px;
    flex-shrink: 0;
    border-radius: 61px;
    border: 1px solid #FFF;
    color: #FFF;
    background: transparent;
    margin-top: 120px;
}

.new-house {
    width: 852.981px;
    color: #FFF;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#adding {
    display: flex;
}

.container-add {
    display: flex;
}

.form-adding {
    margin-top: -250px;
    width: 1240px;
    height: 70.418px;
    flex-shrink: 0;
    border: 2.009px solid #FFF;
    color: #887F7F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    padding: 20px;
}

.searching-add {
    display: flex;
    margin-top: -243px;
    margin-left: -75px;
    background: none;
    border: none;
    height: 57px;
    width: 57px;
}

.border-add-itmes {
    display: flex;
    width: 610px;
    height: 131.385px;
    padding: 45px 32.09px 44.475px 32.598px;
    justify-content: center;
    align-items: center;
    gap: 378.274px;
    flex-shrink: 0;
    border-radius: 6.256px;
    margin-bottom: 100px;
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(27.37179183959961px);
}

.text-border-add-items {
    color: #FFF;
    font-family: Poppins;
    font-size: 25.026px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.checkbox-border-add-items {
    width: 41.91px;
    height: 41.91px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #AAA4A4;
}

.how-long {
    color: #FFCC29;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.do-you {
    width: 850px;
    color: #FFF;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.charging {
    display: inline-flex;
    gap: 50px;
}

.container-charge {
    width: 1121px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 6.905px;
    border: 1.726px solid #FFCC29;
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(30.208332061767578px);
    display: flex;
    padding: 10px 20px;
}

.container-charging {
    display: inline-block;
}

.choose-time {
    color: #FFF;
    font-family: Poppins;
    font-size: 12.988px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.charge-range {
    width: 1088px;
    height: 19px;
    flex-shrink: 0;
    background: #C5C1B6;
    color: #FFCC29;
}

.charge-time {
    display: inline-flex;
    align-items: flex-start;
    gap: 160px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 150px;
}

.container-charge-count {
    display: inline-block;
    width: 86.31px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 6.905px;
    border: 1.726px solid #FFCC29;
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(30.208332061767578px);
}

.time-select {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 59.554px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.time-select-hrs {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 34.524px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -30px;
}

.charge-batterries {
    margin-top: 50px;
    margin-bottom: 120px;
}

.batteries {
    width: 850px;
    height: 261px;
    color: #FFF;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.how {
    color: #FFCC29;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.border-charge-batteries {
    display: flex;
    height: 110px;
    padding: 41.907px 56.175px 40.093px 56.368px;
    justify-content: center;
    align-items: center;
    gap: 900.55px;
    border-radius: 6.984px;
    border: 1.746px solid #FFCC29;
    background: rgba(0, 0, 0, 0.40);
    margin-bottom: 60px;
    backdrop-filter: blur(30.557044982910156px);
}

.text-border-charge-batteries {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 41.907px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
}

.house-hold-items {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-items-list {
    margin-top: 150px;
    display: inline-flex;
    align-items: flex-start;
    gap: 300px;
    margin-bottom: -150px;
}

.container-the-items {
    display: flex;
    align-items: flex-start;
    width: 400px;
}

.container-items-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.015px;
    color: #FFF;
    font-family: Poppins;
    font-size: 15.044px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quantity-number {
    color: #FFF;
    font-family: Poppins;
    font-size: 20.058px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-left: 20px;
}

.container-items-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.015px;
    color: #FFF;
    font-family: Poppins;
    font-size: 15.044px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#middle {
    margin-top: 700px;
}

.full-charge {}

.duration {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 80px;
}

.charging-option {
    margin-top: 80px;
}

.recommended-image {
    width: 714px;
    height: 448.126px;
    border-radius: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#cost {
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.container-cost-calculation {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin: 0 auto;
}

.cost-calculation {
    width: 568px;
    color: #FFF;
    font-family: Poppins;
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.the-calculations {
    width: 393px;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 184.5%;
    /* 36.9px */
}

.total-cost {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 184.5%;
}